@import './TrafficLightOG/TrafficLightOG.scss';

button {
    height: 12%;
border: none;
background-color: #D44D5C;
border-radius: 7px;
color: white;
cursor: pointer;
width: 8%;
margin-top: 18%;
display: block;
position: absolute;
margin-left: 45%;
}